  
   .navbar-one {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar-one a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown-one {
    float: left;
    overflow: hidden;
  }
  
  .dropdown-one .dropbtn-one {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar-one a:hover, .dropdown-one:hover .dropbtn-one  {
    background-color: rgb(5, 1, 1);
  }
  
 
  .dropdown-content-one {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content-one a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content-one a:hover {
    background-color: #ddd;
  }
  
  .dropdown-one:hover .dropdown-content-one {
    display: block;
  }
  .notification {
    background-color: #333;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
  }
  
  .notification:hover {
    background: rgb(2, 1, 1);
  }
  
  .notification .badge {
    position: absolute;
    top: 1px;
    left:-1px;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    
 
  

  }
  .badge{
    color:rgb(255, 255, 255);
  }
 
  .dropdown-content-two {
    display: none;
    overflow-x:hidden ;
    overflow-y: auto;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    position:absolute; 
    width:300px;
    height:300px;
    top:65px;
    right:10px;
  }
  .dropdown-content-two a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content-two a:hover {
    background-color: #ddd;
  }
  
 
  