{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
         <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>    
         <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>    
        
<style>
          body{
            background-image: url("{% static 'img/home.jpg' %}");
            background-repeat: no-repeat;
            background-size:cover;
            font-family: Arial, Helvetica, sans-serif;
        }
        .marked{
          display: none;
          color:red;
        }
        .btn-message{
    background-color: blue;
    border: none;
    
  }
  
   </style>
   </head>
   <body>
   
   <div class="navbar-one">
     <a href="/myhomepage" style="text-decoration: none;color:white">Home</a>
     <a href="/alertmap"  style="text-decoration: none;color:white">Map</a>
    
     <div class="dropdown-one">
       <button class="dropbtn-one">Devices
         <i class="fa fa-caret-down"></i>
        
       </button>
       <div class="dropdown-content-one">
         <a href="/masternode"  style="text-decoration: none;color:rgb(0, 0, 0)">Master-Node</a>
         <a href="/subnode"  style="text-decoration: none;color:rgb(13, 3, 3)">Sub-Node</a>
        
      </div>
      
     </div>
     <a href="/graph" style="text-decoration: none;color:#ffff">Alert Analysis</a>
     <button type="button"data-bs-toggle="modal"  style="float:right;border: none; background-color: #333;"data-bs-target="#exampleModal">
      <a href="#"   style="text-decoration: none;color:white">Logout</a>
    </button>
     
     
      <button  id="drop" style="float:right;border: none; background-color: #333;">
      
      <!-- <div class="dropdown-one" >
        <a href="#" class="notification">
          <i class='bi bi-bell-fill' id="bell" style='color: rgb(255, 255, 255) ;font-size: 20px; margin-right: 13px;'></i>
          <span class="badge" id="badge">0</span>
        </a>
      </div> -->
      </button>
      <button class="p-0 m-0 border-0 rounded-0 float-end" id="drop" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <div class="dropdown-one" >
          <a href="#" class="notification" >
            <i class='bi bi-bell-fill' id="bell" style='color: rgb(255, 255, 255) ;font-size: 20px; margin-right: 13px;'></i>
            <span class="badge" id="badge">0</span>
          </a>
        </div>
      </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel"> <div class="offcanvas-body p-0">
              <p id="para" class="font-weight-bolder">Notifications (<b id="bold"></b>) </p>
              <button class="btn-message" type="button"data-bs-toggle="modal"data-bs-target="#messageModal" style="color:#ffff;cursor:pointer;">close all</button></div></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
         
      <div class="notify" id="notify">
        
        <div class="spinner-border text-primary" style="position:absolute ;top:50%;left:50%;" role="status">
      
        </div>
        
       
          

      </div>
          </div>
        </div>
          
   </div>
   
  </div>
  

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       you will be logged out!
     
      </div>
      <div class="modal-footer">
        <button type="button" id="logout"  class="btn btn-primary">Logout</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div  id="message-body" class="modal-body">
       This action will delete all the notifications permanently!
     
      </div>
      <div class="modal-footer">
        <button type="button" id="destroy"  class="btn btn-primary">Delete All</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
  <script>
    $('#logout').click(function() {
 
    //delete here
    window.location.href = "/logout";
  
});
    
  $(function () 
  {
    
    $("#drop").click(function(){
      
    $("#con").toggle();
   
    

    });
 
    setInterval(function(){
        
        $.ajax({
        url:"{% url 'alert_notify' %}",
        dataType: 'json',
        success: function (res) {
            // storing json data in variables
               _html='';
                _count=res.count
                $("#badge").text(String(_count));
                $("#bold").text(String(_count));
                if(_count>=1){
                  $("#bell").css("color","red");
                }
                else{
                  $("#bell").css("color","white");
                }

               _json=$.parseJSON(res.data);
               $.each(_json,function(index,d){
                
                          
                          
                          if(d.fields.read_by ==false){
                              
                            _html+= '<a class=" asif bg-dark w-100" data-index="'+d.pk+'" device-id="'+d.fields.device_id+'"data-notif="'+d.pk+'" id="button-close" href="/weathermap?device_id='+d.fields.device_id+'" style="text-decoration: none;color:rgb(0, 0, 0)'+d.pk+'">'+d.fields.notify_detail+'\
                              <p style="float:right;font-size:15px;margin-top:0px;">'+d.fields.alert_time+'</p><button style="float:right;display:none"class="btn btn-sm btn-success marked'+d.pk+'"> <i class="bi bi-check-circle-fill"></i></button></a>';

                          }
                          
                         
                 
               });
               $(".notify").html(_html);
               
           
               
                   
         },
         error: function () 
         {
            alert("error receiving  data from server");
          }
          
        });
        
        },5000);
        var click=0;
        $(document).on("click","#destroy",function(){
                    
              //delete here
          var _count=0;
          click=click+1;
          $.ajax({
             url: "{% url 'empty_notify' %}",
             data:{
              count:_count
             },
             dataType: 'json',
             success:function(data){
                console.log(data);
                if(data.bool==true){
                  $('#message-body').text("All alerts deleted successfully");
                  
                      
                }
                
             }
            })
          
        })
         $(document).on("click","#button-close",function(){
          
          var _id=$(this).attr('device-id');
          console.log("id:"+_id);
          var _index=$(this).attr('data-index');
          console.log("index"+_index);

       
          var _notif=$(this).attr("data-notif");
          $.ajax({
             url: "{% url 'mark_read_notif' %}",
       
             data:{
              notif:_notif,
          
           

             },
             dataType: 'json',
             success: function (res) {
              console.log("id:"+res.device_id);
              
              // if(res.bool==true){
              //       $(".asif"+_index).removeClass('bg-light');
                
              //       $(".marked"+_index).show();
              //       console.log(res)
                    
              // }
             }
            })
            $.ajax({
             url: "{% url 'device_id' %}",
             method:"POST",
             data:{
              
              'device_id':_id
           

             },
             dataType: 'json',
             success: function (res) {
              console.log("id:"+res.device_id);
              
              // if(res.bool==true){
              //       $(".asif"+_index).removeClass('bg-light');
                
              //       $(".marked"+_index).show();
              //       console.log(res)
                    
              // }
             }
            })
           
         
           
         })
        });
                 
  </script>


{% block content %}
    replace me

{% endblock %}

     
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>